<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anew" >
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.New" >
        <activity
            android:name=".scan.scanBooked"
            android:exported="true" />
        <activity
            android:name=".doctor.Doc_bill"
            android:exported="true" />
        <activity
            android:name=".doctor.slect_doctor"
            android:exported="true" />
        <activity
            android:name=".user.DeleteAccount"
            android:exported="true" />
        <activity
            android:name=".user.EditProfile"
            android:exported="true" />
        <activity
            android:name=".user.passwordReset"
            android:exported="true" />
        <activity
            android:name=".scan.EditScanbooking"
            android:exported="true" />
        <activity
            android:name=".medicin.mediOrders"
            android:exported="true" />
        <activity
            android:name=".medicin.EditMediOrders"
            android:exported="true" />
        <activity
            android:name=".doctor.doctorBookings"
            android:exported="true" />
        <activity
            android:name=".doctor.Editdoctorbook"
            android:exported="true" />
        <activity
            android:name=".uplodPrescription"
            android:exported="true" />
        <activity
            android:name=".medicin.addMedicustomer"
            android:exported="true" />
        <activity
            android:name=".doctor.mediBuy"
            android:exported="true" />
        <activity
            android:name=".scan.ScanBooking"
            android:exported="true" />
        <activity
            android:name=".doctor.bookSuccessful"
            android:exported="true" />
        <activity
            android:name=".doctor.doctorAppoinment"
            android:exported="true" />
        <activity
            android:name=".DashbordActivity"
            android:exported="true" />
        <activity
            android:name=".user.SignupActivity"
            android:exported="true" />
        <activity
            android:name=".user.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainScreen"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>